<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="ru">
<head>
    <title>Create user</title>
</head>

<body>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <h1>Create user</h1>
    <form action="#" th:action="@{/admin/}" th:object="${user}" method="post">
        <table>
            <tr>
                <td><label for="username">Login</label> </td>
                <td><input type="text" th:field="*{username}" id="username" placeholder="Username"/></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" th:field="*{password}" id="password" placeholder="Password"/></td>
            </tr>
            <tr>
                <td><label for="first_name">Name</label></td>
                <td><input type="text" th:field="*{firstname}" id="first_name" placeholder="Name"/></td>
            </tr>
            <tr>
                <td><label for="last_name">Surname</label></td>
                <td><input type="text" th:field="*{lastname}" id="last_name" placeholder="Surname"/></td>
            </tr>
            <tr>
                <td><label for="age">Age</label></td>
                <td><input type="number" th:field="*{age}" id="age" placeholder="Age"/></td>
            </tr>
            <tr>
                <td><label for="roles">Role</label></td>
                <td>
                    <select th:field="*{roles}" id="roles" multiple="multiple">
                        <option th:each="role : ${roles}"
                                th:value="${role.id}"
                                th:text="${role.name}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>
        <div>
            <input type="submit" value="Create">
        </div>
    </form>
    <a th:href="@{/admin/}">
        <button>Назад</button>
    </a>
</body>

</html>